
.black {
    background-image: url('../images/black-image.png');
    position: fixed; 
    top: 1; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
}
.white {
    background-image: repeating-linear-gradient(white, rgb(148, 252, 252));    
    position: fixed; 
    top: 1; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
}
.white-theme {
    color:black;
    background-image: linear-gradient( white, azure);
    border: 1px solid black;
}
.black-background {
    color:beige;
    background-color: black;
}
.black-theme {
    color:black;
    background-image: linear-gradient( white, azure);
    border: 1px solid black;
}

.big{
    position:absolute;
    left:0;
    right:0;
}
table, th, td {
    border: 1px solid black;
  }