<div class="big">
    <div *ngIf="logInStatus; else notLoggedIn">
        
        <div style="text-align: right;">
            <p>Logged in as: {{currentUser}}  <button (click)="logOut()"> Log Out?</button></p>
        </div>
        
    
    
    </div>
    <ng-template #notLoggedIn>
        <h2></h2>
    
        <p>User is not logged in. </p>
        <a routerLink="/login" routerLinkActive="active" (click)="logInStatus = false">Login</a>
    </ng-template>
    <div *ngIf="!createPostBoolean; else createPostForm"></div>
        <div *ngIf="darktheme; else lightTheme" style="text-align: right;">
            <button (click)="Light()">Turn on the lights</button>
        </div>
        <ng-template #lightTheme>
            <div style="text-align: right;"><button (click)="Dark()">Turn off the lights</button></div>
        </ng-template>   
        <div *ngIf="logInStatus">
            <button (click)="createPostButton()" class="btn btn-primary">Create Post?</button>
        </div>
    <div id="theme" class="white">
    <body class="white-theme"><div class="container-fluid"><h1>Miscellaneous</h1></div></body>
    <br>
    <br>
    <article style="color:red;" *ngFor = "let test of testArray">{{test}}</article>
    </div>
    </div>
    <ng-template #createPostForm>
        <div *ngIf="logInStatus">
    <form #createdPostAttempt="ngForm" (ngSubmit)="createPost(createdPostAttempt)">
        <label>Title: <input type="text" name="title" required ngModel></label>

      <br><br>
      <label>Description: <input type="text" name="description" required ngModel></label>
      
      <br><br>
      <input type="submit" value="Submit">
    </form>
</div>

</ng-template>
