<!-- TO DO --
Make Offer styling match Home -->

<body class="background">

    <!-- login status -->
    <div *ngIf="logInStatus; else notLoggedIn">
        
        <div style="text-align: right;">
            <p class="text-white">Logged in as: {{currentUser}}  <button (click)="logOut()"> Log Out?</button></p>
        </div>
    
    </div>
    <ng-template #notLoggedIn>
    
        <p class="text-white">User is not logged in. </p>
        <a routerLink="/login" routerLinkActive="active" (click)="logInStatus = false">Login</a>
    </ng-template>
    
    <!-- Banner -->
    <div class="orange"><h1>Offer Service</h1></div>
    <br>
    <br>

    <!-- Offer form -->
        <form class="form container border" #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div [hidden]="f.submitted">
               <div class="form-group text-white accent">
                  <label class="text-orange" for="userName">Name:</label>
                  <br>

                  <!-- Name -->
                  <input type="text" class="form-control-center" style="width: 25%;" id="userName" name="userName" required minlength="3" placeholder={{currentUser}} [(ngModel)]="model.userName" #userName="ngModel">

                        <div *ngIf="userName.invalid && (userName.dirty || userName.touched)"
                           class="alert text-red">
                           Name is required and must be at least three characters long.
                        </div>

                  <br>
                  <br>
                  <br>
                  <!-- Offer or Request-->
                  <label class="text-orange" for="category-drop">Are You Offering or Requesting a Service?</label>
                  <br>
                  <select id="type-drop" name="type" required [(ngModel)]="typeModel.type" #type="ngModel">
                     <option *ngFor="let t of types" [value]="t" >{{t}}</option>
                  </select>

                  <div *ngIf="type.invalid" class="alert text-red">You must select one option</div>

                  <br>
                  <br>
                  <br>
                  <!-- Service -->
                  <label class="text-orange" for="service">Please Title Your Service:</label>
                  <br>
                  <input type="text" class="form-control-center" style="width: 25%;" id="service" name="service" placeholder="Short Title... (between 5 and 50 chars)" required minlength="5" maxlength="50" [(ngModel)]="model.service" #service="ngModel">
                  
                  <div *ngIf="service.invalid && (service.dirty || service.touched)"
                     class="alert text-red">
                     Service title is required and must be between 5 and 50 characters.
                  </div>

                  <br>
                  <br>
                  <br>

                  <!-- Category drop down -->
                  <label class="text-orange" for="category-drop">Pick a Category for the Service:</label>
                  <br>
                  <select id="category-drop" name="category" required [(ngModel)]="categoryModel.category" #category="ngModel">
                     <option *ngFor="let c of categories" [value]="c">{{c}}</option>
                  </select>

                  <div *ngIf="category.invalid" class="alert text-red">You must select one option.</div>

                  <br>
                  <br>
                  <br>

                  <!-- Days drop down -->
                  <label class="text-orange" for="days-drop">Choose All Days Available or Any:</label>
                  <br>
                  <select id="days-drop" name="days" required multiple="days[0]" [(ngModel)]="daysModel.day" #day="ngModel">
                     <option *ngFor="let d of days" [value]="d">{{d}}</option>
                  </select>

                  <div *ngIf="day.pristine" class="alert text-red">You must select one option.</div>

                  <br>
                  <br>
                  <br>
                  <!-- Time drop down -->
                  <label class="text-orange" for="time-drop">Choose All Times Available or Any:</label>
                  <br>
                  <select id="time-drop" name="time" required multiple [(ngModel)]="timeModel.time" #time="ngModel">
                     <option *ngFor="let t of times" [value]="t">{{t}}</option>
                  </select>

                  <div *ngIf="time.pristine" class="alert text-red">You must select one option.</div>

                     <br>
                     <br>
                     <br>

                  <!-- Description -->
                  <div class="form-group accent">
                        <label class="text-orange" for="description">Provide a Description:</label>
                        <br>
                        <textarea class="form-control-center" style="width:50%" id="description" rows="4" name="description" placeholder="Provide a description for the service, such as location information, whether offered or requested for free or for a fee, how you prefer payment, etc... (between 5 and 255 chars)" required minlength="5" maxlength="255" [(ngModel)]="model.description" #description="ngModel"></textarea>
                  </div>

                  <div *ngIf="description.invalid && (description.dirty || description.touched)"
                     class="alert text-red">
                     Description is required and must be between 5 and 255 characters.
                  </div>
                  <br>
                  <br>

                        <!-- TEMPORARILY COMMENTED OUT NOT WORKING -->
                     <!-- <label class="text-orange">Photos</label>
                     <br>
                     <br>
                     <input type="file" name="photo" ngModel/> -->
                     <br>
                     <br>

                  <!-- Email -->
                  <label class="text-orange" for="email">Provide Your Email:</label>
                  <br>
                  <input type="email" class="form-control-center" style="width: 25%;" id="email" name="email" required [(ngModel)]="model.email" #email="ngModel" email="true">
                  
                  <div *ngIf="email.invalid && (email.dirty || email.touched)"
                     class="alert text-red">
                     Email is required.
                  </div>


                  <br>
                  <br>
                  <br>
                  </div>
                  <button type="submit" *ngIf="!f.invalid && !day.pristine && !time.pristine; else disabled" class="button-blue button-hover">Post It!</button>
                     <ng-template #disabled>
                        <p class="text-orange">Please fix errors to enable button</p>
                        <button type="submit" class="button-red" [disabled]="f.invalid">Input Required</button>
                     </ng-template>
                  </div>

               <!-- Reset form with New Service button Once form is submitted -->
               <div class=submitted-service *ngIf="f.submitted">
                  <p class="text-orange">You've submitted "{{ f.value.service }}"!</p>
                  <button class="button-blue button-hover" type="button" (click)="f.resetForm()">Add new service</button>

               </div>
            <br>
            <br>
        </form>
        <br>
        <br>
        <br>
    </body>
