<body class="background">

    <div *ngIf="logInStatus; else notLoggedIn">
        
        <div style="text-align: right;">
            <p class="text-white">Logged in as: {{currentUser}}  <button (click)="logOut()"> Log Out?</button></p>
        </div>
    
    </div>
    <ng-template #notLoggedIn>
    
        <p class="text-white">User is not logged in. </p>
        <a routerLink="/login" routerLinkActive="active" (click)="logInStatus = false">Login</a>
    </ng-template>
    
    
    <div class="salmon"><h1>Offer Service</h1></div>
    <br>
    <br>

  
        <form class="form">
            <div class="form-group text-white">
                <label for="name">Name:</label>
                <br>
                <br>
                <p class="text-white" style="font-size:28px">{{currentUser}}</p>

                <br>
                <label for="service">Service to Offer:</label>
                <input type="service" class="form-control-sm" id="service">
                
                <br>
                <br>
                
                <label for="category">Category:</label>
                <div class="dropdown"></div>


                <br>
                <br>



            </div>

        </form>
        <br>
        <br>
        <br>
  

    
    
    </body>
