<body class="background">

    <!-- login status -->
    <div *ngIf="logInStatus; else notLoggedIn">
        
        <div style="text-align: right;">
            <p class="text-white">Logged in as: {{currentUser}}  <button (click)="logOut()"> Log Out?</button></p>
        </div>
    
    </div>
    <ng-template #notLoggedIn>
    
        <p class="text-white">User is not logged in. </p>
        <a routerLink="/login" routerLinkActive="active" (click)="logInStatus = false">Login</a>
    </ng-template>
    
    <!-- Banner -->
    <div class="orange"><h1>Offer Service</h1></div>
    <br>
    <br>

    <!-- Offer form -->
        <form class="form container border" #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="form-group text-white accent">
                <label class="text-orange" for="userName">Name:</label>
                <br>

                <!-- Name -->
                <input type="text" class="form-control-center" style="width: 25%;" id="userName" name="userName" ngModel={{currentUser}}>

                <br>
                <br>
                <br>
                <!-- Service -->
                <label class="text-orange" for="service">Define a Service:</label>
                <br>
                <input type="text" class="form-control-center" style="width: 25%;" id="service" name="service" ngModel>
                
                <br>
                <br>
                <br>

               <!-- Category drop down -->
               <label class="text-orange" for="category-drop">Pick a Category:</label>
               <br>
               <select id="category-drop" name="category" ngModel="value">
                  <option value="Art">Art</option>
                  <option value="Admin">Administrative</option>
                  <option value="Babysitting">Babysitting</option>
                  <option value="Dogwalking">Dogwalking</option>
                  <option value="Event">Event</option>
                  <option value="Music">Music</option>
                  <option value="Other">Other</option>
                  <option value="Photo">Photography</option>
                  <option value="Repair">Repair</option>
                  <option value="Rideshare">Rideshare</option>
                </select>

                <br>
                <br>
                <br>

               <!-- Days drop down -->
               <label class="text-orange" for="days-drop">Choose All Days Available or Any:</label>
               <br>
               <select id="days-drop" name="days" ngModel="days" multiple>
                  <option value="Monday">Monday</option>
                  <option value="Tuesday">Tuesday</option>
                  <option value="Wednesday">Wednesday</option>
                  <option value="Thursday">Thursday</option>
                  <option value="Friday">Friday</option>
                  <option value="Saturday">Saturday</option>
                  <option value="Sunday">Sunday</option>
                  <option value="Any">Any</option>
                </select>

                <br>
                <br>
                <br>
                <label class="text-orange" for="time-drop">Choose All Times Available or Any:</label>
                <br>
                <select id="time-drop" name="time" ngModel="days" multiple>
                   <option value="Morning">Morning</option>
                   <option value="Afternoon">Afternoon</option>
                   <option value="Evening">Evening</option>
                   <option value="All">All</option>
                 </select>


                <!-- TEMPORARILY COMMENTED OUT NOT WORKING -->
                <!-- <label class="text-orange" for="availability">General Availability:</label>
                <br>
                <div class="form-check accent">
                    <input class="form-check-input-lg" type="checkbox" name="availability" id="mon" ngModel>
                    <label class="form-check-label" for="mon">
                       &nbsp;&nbsp;Monday&nbsp;&nbsp;|&nbsp;&nbsp; 
                    </label>
                    
                    <input class="form-check-input-lg" type="checkbox" name="availability" id="tues" ngModel>
                    <label class="form-check-label" for="tues">
                       &nbsp;&nbsp;Tuesday&nbsp;&nbsp;|&nbsp;&nbsp; 
                    </label>
                    
                    <input class="form-check-input-lg" type="checkbox" name="availability" id="wed" ngModel>
                    <label class="form-check-label" for="wed">
                       &nbsp;&nbsp;Wednesday&nbsp;&nbsp;|&nbsp;&nbsp; 
                    </label>

                    <input class="form-check-input-lg" type="checkbox" name="availability" id="thurs" ngModel>
                    <label class="form-check-label" for="thurs">
                       &nbsp;&nbsp;Thursday&nbsp;&nbsp;|&nbsp;&nbsp; 
                    </label>

                    <input class="form-check-input-lg" type="checkbox" name="availability" id="fri" ngModel>
                    <label class="form-check-label" for="fri">
                       &nbsp;&nbsp;Friday&nbsp;&nbsp;|&nbsp;&nbsp; 
                    </label>

                    <input class="form-check-input-lg" type="checkbox" name="availability" id="sat" ngModel>
                    <label class="form-check-label" for="sat">
                       &nbsp;&nbsp;Saturday&nbsp;&nbsp;|&nbsp;&nbsp; 
                    </label>

                    <input class="form-check-input-lg" type="checkbox" name="availability" id="sun" ngModel>
                    <label class="form-check-label" for="sun">
                       &nbsp;&nbsp;Sunday&nbsp;&nbsp;|&nbsp;&nbsp;
                    </label>

                    <input class="form-check-input-lg" type="checkbox" name="availability" id="every" ngModel>
                    <label class="form-check-label" for="every">
                       &nbsp;&nbsp;Everyday
                    </label>

                    <br>
                    <br>
                    <input class="form-check-input-lg" type="checkbox" name="availability" id="morning" ngModel>
                    <label class="form-check-label" for="morning">
                       &nbsp;&nbsp;Morning&nbsp;&nbsp;|&nbsp;&nbsp;
                    </label>

                    <input class="form-check-input-lg" type="checkbox" name="availability" id="afternoon" ngModel>
                    <label class="form-check-label" for="afternoon">
                       &nbsp;&nbsp;Afternoon&nbsp;&nbsp;|&nbsp;&nbsp;
                    </label>

                    <input class="form-check-input-lg" type="checkbox" name="availability" id="evening" ngModel>
                    <label class="form-check-label" for="evening">
                       &nbsp;&nbsp;Evening&nbsp;&nbsp;|&nbsp;&nbsp;
                    </label>

                    <input class="form-check-input-lg" type="checkbox" name="availability" id="any" value="Anytime" ngModel>
                    <label class="form-check-label" for="any">
                       &nbsp;&nbsp;Anytime
                    </label>
                </div> -->

                    <br>
                    <br>
                    <br>

                    <!-- Description -->
                    <div class="form-group accent">
                        <label class="text-orange" for="description">Provide a Description:</label>
                        <br>
                        <textarea class="form-control-center" style="width:50%" id="description" rows="4" name="description" ngModel></textarea>
                      </div>
                    <br>
                    <br>

                     <!-- TEMPORARILY COMMENTED OUT NOT WORKING -->
                    <!-- <label class="text-orange">Photos</label>
                    <br>
                    <br>
                    <input type="file" name="photo" ngModel/> -->
                    <br>
                    <br>

                    <!-- Email -->
                    <label class="text-orange" for="email">Provide Your Email:</label>
                    <br>
                    <input type="email" class="form-control-center" style="width: 25%;" id="email" name="email" ngModel>

                <br>
                <br>
                <br>
            </div>

            <button class="button-blue button-hover">Submit</button>
            <br>
            <br>
        </form>
        <br>
        <br>
        <br>
  

    
    
    </body>
