<!-- <div *ngIf="logInStatus; else notLoggedIn">
    
    <div style="text-align: right;  display: flex; justify-content:space-between;">
        <p style="font-weight: bolder;">Welcome, {{currentUser}}!</p>
        <button (click)="logOut()"> Log Out?</button>
    </div>
   
</div>
<ng-template #notLoggedIn>
    <p style="text-align: left; display: flex; justify-content: space-between;">Log in to rally your community!</p>
    <a routerLink="/login" routerLinkActive="active" (click)="logInStatus = false">Login</a>
</ng-template> -->




<div *ngIf="logInStatus; else notLoggedIn">
    
    <div style="text-align: right;  display: flex; justify-content:space-between;">
        <p style="font-weight: bolder;">Welcome, {{currentUser}}!</p>
        <button (click)="logOut()"> Log Out?</button>
    </div>
   

</div>


<ng-template #notLoggedIn>
    <p style="text-align: left; display: flex; justify-content: space-between;">Log in to rally your community!</p>
    <a routerLink="/login" routerLinkActive="active" (click)="logInStatus = false">Login</a>
</ng-template>




    <div id="main_container">
        <div id="list_head">
                <!-- <p>What's happening?</p>  -->
            <span>
                <a href="#" class="myButton">JOIN</a>
            </span>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

        <div id="event_display">
            <p>location</p>
                <div class="rectangle">

                </div>

            <br>
            <!-- <br>
            <br> -->
           
            <span>
                <p style="margin-bottom: -5px;">comments</p>
                <!-- <button class="button2">connect</button>
                <button class="button2">learn</button>
                <button class="button2">volunteer</button>
                <button class="button2">donate</button>
                <button class="button2">celebrate</button>
                <button class="button2">view all</button> -->
            </span>
           
        </div>

        <!-- <div id="search_category">
          


        </div> -->
        <div id="main_content">
            <p style="font-size: 40px; ; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; margin-bottom: -15px;">EVENT TITLE<span style="font-family: arial; font-size: 30px; float: right; margin-top: 15px;">date & time</span></p>
            <hr style="height:4px; color: #0097b2; background-color: #0097b2; !important;">
            <p style="font-size: 15px; margin-top: -12px; margin-bottom: -8px;">CATEGORY TAG(S)</p>
                <div id="event_details">
                    <span id="event_pic">
                        <p style="font-size: 25px;">photo goes here</p>
                    </span>
                       
                   
                    
                </div>
            <br>
            <br>
            <br>
            <br>
            <br>  
            <p style="font-size: 15px; font-style: italic;">hosted by (name)</p>  
            <br>
            <p style="font-size: 25px;">address</p>
            <br>
            <p style="font-size: 25px;">description</p>
            <!-- <div id="event_list">
                <p style="font-family:Impact; margin-top: -5px;">DATE & TIME</p>
                <p style="font-weight: bold; margin-top: -20px;">EVENT TITLE</p>
                <p style="font-size: 25px; margin-top: -20px;">category tags</p>
                <p style="font-size: 15px; font-style: italic; margin-top: 60px;">hosted by (name)</p>
            </div> -->
        
        </div>
    </div>
