<div class="big">
<div *ngIf="logInStatus; else notLoggedIn">
    
    <div style="text-align: right;">
        <p>Logged in as: {{currentUser}}  <button (click)="logOut()"> Log Out?</button></p>
    </div>
    


</div>
<ng-template #notLoggedIn>
    <h2></h2>

    <p>User is not logged in. </p>
    <a routerLink="/login" routerLinkActive="active" (click)="logInStatus = false">Login</a>
</ng-template>
    <div *ngIf="darktheme; else lightTheme" style="text-align: right;">
        <button (click)="Light()">Turn on the lights</button>
    </div>
    <ng-template #lightTheme>
        <div style="text-align: right;"><button (click)="Dark()">Turn off the lights</button></div>
    </ng-template>   
<div id="theme" class="white">
<body class="white-theme"><div class="container-fluid"><h1>Community Forum</h1></div></body>
<br>

<body class="white-theme">
    <div class="container-fluid" style="text-align: left;">
        <h2><a class="nav-link" routerLink="/forum/communityhome" routerLinkActive="active">Community Home</a></h2>
        <p>Post about, discuss and find out what's going on across the Community.  Keep it civil!</p>
    </div>
</body>
<br>
<br>
<body class="white-theme">
    <div class="container-fluid" style="text-align: left;">
        <h2 ><a class="nav-link" routerLink="/forum/introductions" routerLinkActive="active">Introductions</a></h2>
        <p >Introduce yourself to the community. Don't be shy, say hi!</p>
    </div>
</body>
<br>
<br>
<body class="white-theme">
    <div class="container-fluid" style="text-align: left;">
        <h2><a class="nav-link" routerLink="/forum/topic1" routerLinkActive="active">Volunteering/Event Recruitment</a></h2>
        <p> Discuss getting together as a group for Events.</p>
    </div>
</body>
<br>
<br>
<body class="white-theme">
    <div class="container-fluid" style="text-align: left;">
        <h2><a class="nav-link" routerLink="/forum/topic2" routerLinkActive="active">Help Requests/Home Improvement</a></h2>
        <p>Need a cup of sugar?  Borrow a ladder?  Help moving something heavy?  Discuss here.</p>
    </div>
</body>
<br><br>
<body class="white-theme">
    <div class="container-fluid" style="text-align: left;">
        <h2><a class="nav-link" routerLink="/forum/topic3" routerLinkActive="active">Miscellaneous</a></h2>
        <p>Be as random as you want, but keep it appropiate and civil!</p>
    </div>
</body>
<br><br>
</div>
</div>