#list_head {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 45px;
    color: black;
    font-weight: 575;
}


.myButton {
    background-color: #2e9abc;
	border-radius:7px;
	display: internal;
	color:#ffffff;
	font-family: Arial;
	font-size:30px;
	font-weight:bold;
    text-shadow: 0.5px 0.5px 0px #000;
	padding:15px 75px;
	text-decoration: none;
    float: right;
}

#event_display1 {
    text-align: left;
    font-size: 35px;
    font-family: arial;
}

#event_display2 {
    text-align: left;
    font-size: 35px;
    font-family: arial;
    margin-bottom: -5px; 
}

.rectangle {
    margin-top: -15px;
    height: 300px;
    width: auto;
    box-sizing: border-box;
    border: 1px solid #f4d668;
}

.button2 {
    background-color: #e5642b;
	border-radius:6px; 
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:25px;
	font-weight:bold;
    text-shadow: 0.5px 0.5px 0px #000;
	padding:6px 24px;
	text-decoration:none;
    width: 50%;
}

.card-body {
    /* text-align: left; */
    font-size: 30px;
}



