<!-- <div *ngIf="logInStatus; else notLoggedIn">
    
    <div style="text-align: right;">
        <button (click)="logOut()"> Log Out?</button>
    </div>

    <h2>My Profile</h2>
    <br><br>
    <p>Logged in as: {{currentUser}}</p>

</div>


<ng-template #notLoggedIn>

    <h2>User Profile</h2>

    <p>User is not logged in.</p>
    <a routerLink="/login" routerLinkActive="active" (click)="logInStatus = false">Login</a>
</ng-template> -->





<div *ngIf="logInStatus; else notLoggedIn">
    
    <div style="text-align: right;  display: flex; justify-content:space-between;">
        <p style="font-weight: bolder;">Welcome, {{currentUser}}!</p>
        <button (click)="logOut()"> Log Out?</button>
    </div>
   

</div>


<ng-template #notLoggedIn>
    <p style="text-align: left;"><span><a routerLink="/login" routerLinkActive="active" (click)="logInStatus = false">Login</a></span> to <span style="font-family: impact; font-size: 15px;">rally!</span> your community</p>
</ng-template>




    <div id="main_container">
        <div id="list_head">
                <p>What's happening?</p> 
            <span>
                <a href="#" class="myButton">CREATE EVENT</a>
            </span>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

        <div id="event_display">
            <p>event calendar</p>
                <div class="rectangle">

                </div>

            <br>
           
            <span>
                <p style="margin-bottom: -5px;">search by category</p>
                <button class="button2">connect</button>
                <button class="button2">learn</button>
                <button class="button2">volunteer</button>
                <button class="button2">donate</button>
                <button class="button2">celebrate</button>
                <button class="button2">view all</button>
            </span>
           
        </div>

        <div id="main_content">
            <p style="font-size: 40px; ; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; margin-bottom: -15px;">All Events</p>
            <hr style="height:4px; color: #0097b2; background-color: #0097b2;">
            <div id="event_pic">
                <p style="font-size: 25px;">photo goes here</p>
            </div>
            <div id="event_list">
                <ng-container *ngFor="let event of events">
                <p style="font-family:Impact; margin-top: -5px;">{{event.datetime}}</p>
                <p style="font-weight: bold; margin-top: -20px;">{{event.eventTitle}}</p>
                <p style="font-size: 25px; margin-top: -20px;">{{event.eventCategory}}</p>
                <p style="font-size: 15px; font-style: italic; margin-top: 60px;">hosted by {{event.eventHost}}</p>
                </ng-container>
            </div>



            <!-- <div id="event_list">
                <p style="font-family:Impact; margin-top: -5px;">DATE & TIME</p>
                <p style="font-weight: bold; margin-top: -20px;">EVENT TITLE</p>
                <p style="font-size: 25px; margin-top: -20px;">category tags</p>
                <p style="font-size: 15px; font-style: italic; margin-top: 60px;">hosted by (name)</p>
            </div> -->
        
        </div>
    </div>