.text-white {
    color: white;
}

.background {
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    right: 0;
}

.turq {
    background-color: turquoise;

}

.button-orange {
    background-color: rgb(255, 200, 98);
    color: black;
    border: 30;
    border-radius: 12px;
    width: 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    transition-duration: 0.4s;
}

.button-blue {
    background-color: blue;
    color: black;
    border: 30;
    border-radius: 12px;
    width: 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    transition-duration: 0.4s;
}

.button-green {
    background-color: rgb(112, 224, 112);
    color: black;
    border: 30;
    border-radius: 12px;
    width: 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    transition-duration: 0.4s;
}

.button-hover:hover {
    background-color: white;
    color: black;
}