
<div *ngIf="logInStatus"> 
    <div style="text-align: right;">
        <button><a routerLink="/search" routerLinkActive="active">Search</a></button>
        <button (click)="logOut()">Log Out</button>
    </div>
</div>
<br>

<div class="row">
<div class="col">
    <div class="card">
        <h2>Viewing {{ this?.viewUserName }}'s Profile</h2>
            <div style="align-content: center;">
            <img src="/assets/user-profile-assets/big-duck.jpg" width="170" height="170">
            </div>
        </div> 
    </div>
    <div class="col">
        <div class="card">
            <h2>Message</h2>
            <div class="card">
            <div style="text-align: left;" class="form-group"> 
                <form #dmMessageDetails="ngForm" (ngSubmit)="viewingUserSendDM(dmMessageDetails)">
                  <label>Messaging:<br>{{ this?.viewUserName }}</label>
                  <br><br>
                  <p>Message:</p>
                  <textarea rows="3" cols="40" type="text" name="messageContent" ngModel></textarea>
                  <div style="text-align: right;">
                  <input type="submit" value="Send">
                  </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <h2>UserDetails</h2>

            <div class="card">
                <br> 
                <label>First Name: {{ userEntityInformation?.viewUserInformation.firstName }}</label>
                <br>
                <label>Last Name: {{ userEntityInformation?.viewUserInformation.lastName }}</label>
                <br>
                <label>Neigborhood: {{ userEntityInformation?.viewUserInformation.neigborhood }}</label>
                <br>
                <label>City: {{ userEntityInformation?.viewUserInformation.city }}</label>
                <br>       
                <label>State: {{ userEntityInformation?.viewUserInformation.state }}</label>                     
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <h2>Post History</h2>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <h2>Favorites</h2>
        </div>
    </div>
</div>