div.scroll {
    column-width: auto;
    background-color: #b6eee9;
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 8px;
  }

.cell.sent-received {
  column-width: 10%;
  display: flex;
  margin: auto;
  background-color: rgb(253, 203, 142);
}

.thought {
  display:flex;
  background-color:#e0d5d5;
  padding:20px;
  border-radius:30px;
  min-width:200px;
  max-width:700px;
  min-height:40px;
  margin:auto;
  position:relative;
  align-items:center;
  justify-content:center;
  text-align:center;
}
.thought:before,
.thought:after {
  content:"";
  background-color:#e0d5d5;
  border-radius:50%;
  display:block;
  position:absolute;
  z-index:-1;
}
.thought:before {
  width:44px;
  height:44px;
  top:-12px;
  left:28px;
  box-shadow:-50px 30px 0 -12px #E0D5D5;
}
.thought:after {
  bottom:-10px;
  right:26px;
  width:30px;
  height:30px;
  box-shadow:40px -34px 0 0 #E0D5D5,
             -28px -6px 0 -2px #E0D5D5,
             -24px 17px 0 -6px #E0D5D5,
             -5px 25px 0 -10px #E0D5D5;
}
