<div *ngIf="logInStatus; else notLoggedIn">
    
    <div style="text-align: right;">
        <button (click)="logOut()"> Log Out?</button>
    </div>

    <h2>My Profile</h2>
    <br><br>
    <p>Logged in as: {{currentUser}}</p>

</div>


<ng-template #notLoggedIn>

    <h2>User Profile</h2>

    <p>User is not logged in.</p>
    <a routerLink="/login" routerLinkActive="active" (click)="logInStatus = false">Login</a>
</ng-template>


<body>
    <div id="main_container">
        <div id="list_head">
            <h2>What's happening?</h2>
            <button class="button1">SUBMIT</button>
        </div>

        <div id="event_calendar">
            <h4>event calendar</h4>
        </div>

        <div id="search_category">
            <h4>search by category</h4>
            <button class="button2">connect</button>
            <button class="button2">learn</button>
            <button class="button2">volunteer</button>
            <button class="button2">donate</button>
            <button class="button2">celebrate</button>
            <button class="button2">view all</button>


        </div>
        <div id="main_content">
            <h3>All Events</h3>
            <hr>
            <div id="event_list">
                <!-- loop eventually goes here -->
                <!-- <img> goes here -->
                <p>Date & Time</p>
                <p>Event Title</p>
                <p>category tags</p>
                <p>hosted by (name)</p>
            </div>
        
        </div>
    </div>
</body>