

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


div#list_head {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    height: 100px;
    width: auto;
    padding: 30px;
    text-align: left;
    font-size: 50px;
    color: navy;
    
    /* background-color: aqua; */
}


.myButton {
    background-color: teal;
	border-radius:7px;
	display: internal;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:15px 75px;
	text-decoration: none;
    float: right;
    
}
