<div *ngIf="logInStatus; else notLoggedIn">
    
    <div style="text-align: right;">
        <button (click)="logOut()"> Log Out?</button>
    </div>

    <h2>My Profile</h2>
    <br><br>
    <p>Logged in as: {{currentUser}}</p>

</div>


<ng-template #notLoggedIn>

    <h2>User Profile</h2>

    <p>User is not logged in.</p>
    <a routerLink="/login" routerLinkActive="active" (click)="logInStatus = false">Login</a>
</ng-template>


<body>
    <div id="main_container">
        <div id="list_head">
                <p>What's happening?</p> 
            <span>
                <a href="#" class="myButton">Create Event</a>
            </span>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

        <div id="event_display">
            <p>event calendar</p>
                <div class="rectangle">

                </div>

            <br>
            <br>
            <br>
           
            <span>
                <p>search by category</p>
                <button class="button2">connect</button>
                <button class="button2">learn</button>
                <button class="button2">volunteer</button>
                <button class="button2">donate</button>
                <button class="button2">celebrate</button>
                <button class="button2">view all</button>
            </span>
           
        </div>

        <!-- <div id="search_category">
          


        </div> -->
        <div id="main_content">
            <p style="font-size: 40px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">All Events</p>
            <hr style="height: 4px;  color: #2e9abc;">
            <div id="event_pic">
                <p style="font-size: 25px;">photo goes here</p>
            </div>
            <div id="event_list">
                <!-- loop eventually goes here -->
                <!-- <img> goes here -->
                <p style="font-family:Impact; margin-top: -5px;">DATE & TIME</p>
                <p style="font-weight: bold; margin-top: -20px;">EVENT TITLE</p>
                <p style="font-size: 25px; margin-top: -20px;">category tags</p>
                <p style="font-size: 15px; font-style: italic; margin-top: 60px;">hosted by (name)</p>
            </div>
        
        </div>
    </div>
</body>